h1 {
    background-color: black;
    color: white;
    text-align: left;
    font-weight: bolder;
    font-family:cursive;
    font-style: normal;
}
h2 {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-family: sans-serif;
    font-style: italic;  
}
h3 {
    background-color: lightskyblue;
    color: darkblue;
    text-align: right;
    text-decoration: underline;
    font-weight: bold;
    font-family:cursive;
    font-style: normal;    
}
